.wp-block-blocks-randomizer-holder {

	&.is-selected,
	&.has-child-selected {
		outline: 2px solid #007cba;
		outline-offset: 2px;
	}
}

.wp-block-blocks-randomizer-holder-inner {
	position: relative;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px #1e1e1e;
	outline: 1px solid #0000;
	margin: 0;
	padding: 24px;

	> *:last-of-type {
		margin-bottom: 0;
	}

	> *:first-of-type {
		margin-top: 0;
	}
}
