/**
 * These styles get applied both on the front of your site and in the editor.
 */

.wp-block-blocks-randomizer {
	margin: 1em 0;

	/* Container should look like a paragraph */
	.blocks-randomizer-container {
		line-height: inherit;
		font-size: inherit;
		color: inherit;

		/* Ensure inner blocks maintain proper spacing */
		> * {
			margin-top: 0;
			margin-bottom: 1em;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		/* Handle empty state */
		&:empty::after {
			content: "";
			display: block;
			min-height: 1.2em;
		}
	}
}
